<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RealDolmen Blog</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="http://www.realdolmen.com"><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span></a>
        <a class="navbar-brand" href="http://education.realdolmen.com">Courses</a>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/authors}">Authors</a></li>
            <li><a th:href="@{/register}">Register</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Blog</h1>
        <p class="lead">Welcome to the <span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Blog!</p>
    </div>
    <div class="jumbotron">
        <h1>Homepage</h1>
        <p>This is the homepage of the RealDolmen Blog.</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Registration</h4>
            <p>Please register <a th:href="@{/register}">here</a>!</p>
        </div>
    </div>

    <hr/>
</div>
<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>