<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RealDolmen Blog</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="http://www.realdolmen.com"><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span></a>
        <a class="navbar-brand" href="http://education.realdolmen.com">Courses</a>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/authors}">Authors</a></li>
            <li><a th:href="@{/register}">Register</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Blog</h1>
        <p class="lead">Welcome to the <span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Blog!</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Author List</h4>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>User Name</th>
                    <th class="text-right">Remove</th>
                </tr>
                </thead>
                <tbody th:each="author : ${authorList}">
                <tr>
                    <td th:text="${author.firstName}"></td>
                    <td th:text="${author.lastName}"></td>
                    <td th:text="${author.email}"></td>
                    <td th:text="${author.userName}"></td>
                    <td class="text-right"><a class="btn btn-danger btn-xs" th:href="${#mvc.url('AC#removeAuthor').arg(0, author.id).build()}">Remove</a></td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" th:href="@{/register}">Add Author</a>
        </div>
    </div>

    <hr/>
</div>
<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>