<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RealDolmen Blog</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="http://www.realdolmen.com"><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span></a>
        <a class="navbar-brand" href="http://education.realdolmen.com">Courses</a>
        <ul class="nav navbar-nav">
            <!-- TODO add navigation to the index, authors and registration page -->
        </ul>
    </div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Blog</h1>
        <p class="lead">Welcome to the <span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Blog!</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Registration Form</h4>
            <form ><!-- TODO refer to the author model object and post to /register -->
                <div class="form-group" th:class="${#fields.hasErrors('firstName')}? 'has-error'">
                    <label th:for="${#ids.next('firstName')}">First Name:</label>
                    <input type="text" th:field="*{firstName}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('firstName')}" class="help-block" th:errors="*{firstName}"></span>
                </div>
                <!-- TODO add input elements for the other field of the author -->
                <br/>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>

    <hr/>
</div>
<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>